bcrypt==4.0.1
desim-tool==0.4.0
fastapi==0.95.1
mvmlib==0.5.9
mysql-connector-python==8.0.33
pandas==2.0.0
passlib==1.7.4
pyparsing==3.0.9
python-jose==3.3.0
python-multipart==0.0.6
starlette==0.26.1
uvicorn==0.21.1
openpyxl==3.1.2
mysql-statement-builder==0.*
python-magic==0.4.27
pytest==7.3.1
httpx==0.24.0